*.credential
*.yml
*.err
*.out
*.pyc
*.nc
*.tmp
*.hdf
*.lock
Ancillary/.netrc
Ancillary/.urs_cookies
*.rar
*.gml
*.jp2
/3_CA/WiPE_before_or_after/Sunglint_retrieval_test/Data
*.png
*.tif
0.1_Insitu_MU/DATA_POC_PON_SPM.csv
0.1_Insitu_MU/LOCAL/DATA_TO_MU_2.csv
0.1_Insitu_MU/MREN/DATA_POC_PON_SPM.csv
0.1_Insitu_MU/MREN/DATA_TO_MU_2.csv
*.csv
*.xlsx
0.1_Insitu_MU/DATA_POC_PON_SPM.csv
*.data
*.new
/1_Download/EODAG/TEST/.downloaded
/1_Download/EODAG/TEST
/2_WiPE/WiPE_personal/Python_Dev/Remote
5_SPM_POC/Determination_Best_algo/Simulated_S2INSITU
5_SPM_POC/Determination_Best_algo/Simulated_S2INSITU_columns
/5_SPM_POC/Determination_Best_algo/SRF/no_mod
